<template name="boloesPag">
 {{> searchBolao}}
</template>

<template name="searchBolao">

  <div class=" clearfix">
    <h4 class="pull-left">Bolões</h4>
    <div class="pull-right">
      {{> EasySearch.Input index=boloesIndex attributes=inputAttributes}}
    </div>
  </div>

  <ul class="list-group">

    <li class="list-group-item clearfix" style="background-color:#fafee3">
      <span class="pull-left col-md-4">NOME</span>
      <span class="pull-left col-md-5">DESCRIÇÃO</span>
      <span class="pull-left col-md-2">DT. CRIAÇÃO</span>
      <span class="pull-right col-md-1"></span>
    </li>

    {{#EasySearch.Each index=boloesIndex }}
    <li class="list-group-item clearfix">
      <span class="pull-left col-md-4">{{nome}}</span>
      <span class="pull-left col-md-5" >{{descricao}}</span>
      <span class="pull-left col-md-2">{{formatDate dataCriacao}}</span>
      <span class="pull-right col-md-1">{{#unless  verificaUsuarioParticipante}}<span class="glyphicon glyphicon-plus" style="cursor: pointer;" name="btnParticipar"></span>{{else}}<span class="glyphicon glyphicon-edit" style="cursor: pointer;" name="btnAbrir"></span> {{/unless }}</span>
    </li>
    
    
    {{/EasySearch.Each}}

    {{#EasySearch.IfNoResults index=boloesIndex }}
    <p class="alert alert-warning">Nenhum bolão encontrado.</p>
    {{/EasySearch.IfNoResults }}
    
  </ul>
  
</template>

<template name="boloes">
	<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
		<div class="panel panel-default">
			<div class="panel-heading"  role="tab" id="concurso{{_id}}">
				<h4 class="panel-title">
					<a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse{{_id}}" aria-expanded="false" aria-controls="collapse{{numeroConcurso}}">
						{{nome}}
					</a>
					<button class="btn btn-primary btnBuscarResultado glyphicon glyphicon-search pull-right" data-numeroconcurso="{{_id}}"></button>
				</h4>
			</div>
			<div id="collapse{{_id}}" class="panel-collapse collapse " role="tabpanel" aria-labelledby="concurso{{_id}}">
				<div class="panel-body">
					<h4>Jogos</h4>
					
				</div>
			</div>
		</div>
	</div>
</template>
