<template name="bolaoPag">
 {{> cadBolao}}
</template>

<template name="cadBolao">
  <div class="col-md-5">
    <div class="panel panel-primary"> 
      <div class="panel-heading"> 
        <h3 class="panel-title">Novo Bolão</h3> 
      </div> 
      <div class="panel-body"> 
        {{#autoForm collection="Boloes" id="cadBolaoForm" type="insert" }}
        {{> afQuickField name="nome"}}
        {{> afQuickField name="descricao"}}
        <button type="submit" class="btn btn-primary">Salvar</button>
        {{/autoForm}}
      </div> 
    </div>
  </div>

  
</template>

<template name="editBolao">
  <div class="col-md-5">
    <div class="panel panel-primary"> 
      <div class="panel-heading"> 
        <h3 class="panel-title">Bolão - {{nome}}</h3> 
      </div> 
      <div class="panel-body"> 
       {{#autoForm collection="Boloes" id="updateBolaoForm" type="update" doc=this}}
       {{#if isOwner}}
       {{> afQuickField name="nome"}}
       {{> afQuickField name="descricao"}}
       <button type="submit" class="btn btn-primary">Salvar</button>
       {{else}}
       {{> afQuickField name="nome" readOnly="true"}}
       {{> afQuickField name="descricao" readOnly="true"}}
       {{/if}}
       
       {{/autoForm}}
     </div> 
   </div>
 </div>

 <div class="col-md-7">
  <div class="panel panel-primary"> 
    <div class="panel-heading">  
      <h3 class="panel-title">Concursos <span class="glyphicon glyphicon-plus pull-right" data-toggle="modal" data-target=".cadConcursoModal" style="cursor: pointer;" title="Adicionar concurso" name="btnAddConcurso"></span></h3>
    </div> 
    <div class="panel-body"> 
      <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        {{#each concursosDoBolao}}
        {{> concurso}}
        {{/each}}
      </div>
    </div> 
  </div>
</div>



<div class="modal fade cadConcursoModal" tabindex="-1" role="dialog" aria-labelledby="cadConcursoModalLabel">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="cadConcursoModalLabel">Cadastro de Concurso</h4>
      </div>
      <div class="modal-body">

        {{#autoForm collection="Concs" id="insertConcursoForm" type="insert" params=this._id}}
        {{> afQuickField name="numeroConcurso"}}
        {{> afQuickField name="dataConcurso" type="datetime-local"}}
        <div class="row-fluid">
          <div class="col-md-12">
            <span class="badge" style="cursor:pointer;">01</span>
            <span class="badge" style="cursor:pointer;">02</span>
            <span class="badge" style="cursor:pointer;">03</span>
            <span class="badge" style="cursor:pointer;">04</span>
            <span class="badge" style="cursor:pointer;">05</span>
            <span class="badge" style="cursor:pointer;">06</span>
            <span class="badge" style="cursor:pointer;">07</span>
            <span class="badge" style="cursor:pointer;">08</span>
            <span class="badge" style="cursor:pointer;">09</span>
            <span class="badge" style="cursor:pointer;">10</span>
            <span class="badge" style="cursor:pointer;">11</span>
            <span class="badge" style="cursor:pointer;">12</span>
            <span class="badge" style="cursor:pointer;">13</span>
            <span class="badge" style="cursor:pointer;">14</span>
            <span class="badge" style="cursor:pointer;">15</span>
            <span class="badge" style="cursor:pointer;">16</span>
            <span class="badge" style="cursor:pointer;">17</span>
            <span class="badge" style="cursor:pointer;">18</span>
            <span class="badge" style="cursor:pointer;">19</span>
            <span class="badge" style="cursor:pointer;">20</span>
            <span class="badge" style="cursor:pointer;">21</span>
            <span class="badge" style="cursor:pointer;">22</span>
            <span class="badge" style="cursor:pointer;">23</span>
            <span class="badge" style="cursor:pointer;">24</span>
            <span class="badge" style="cursor:pointer;">25</span>
          </div>

        </div>
        <div class="row-fluid" >
            <button type="submit" style="margin-top:20px;" class="btn btn-primary" >Salvar</button>
        </div>
        {{/autoForm}}
      </div>
    </div>
  </div>
</div>
</template>
